 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Collection Form</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }


	#wsoutput{
		margin: 4px;
		width: 100px;
		height: 20px;
		border: 3px solid red ;
		background-color: #4caf50;
	}


	#lbdiv{
		margin: 4px;
		widht: 100px;
		height: 20px;
 		border: 3px solid red ; 
		background-color: #4caf50;

	}


        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
        }

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
        }
    </style>






    <script>
	   /*
	    function createlb(){
	
		    var xhr = new XMLHttpRequest();
		    xhr.open('GET',"http://192.168.126.128/collectData" , true);
		    xhr.onload = function(){
					if (xhr.status >= 200 && xhr.status < 300){
							document.getElementById('output').innerHTML = xhr.responseText;
						    }
					else{
						console.log("request failed with status" + xhr.status);
						    }
	
				};
	

			    xhr.onerror = function(){

				console.log("network error");
				};

	
	 	   xhr.send();
	}*/

function createlb(){

    let lbip = document.getElementById("lbip").value;
    let username =  document.getElementById("username").value;
    let password = document.getElementById("password").value;
     var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4) {
         document.getElementById("lbdiv").innerHTML = this.responseText;
        }
      };
      xhttp.open("GET", "http://192.168.126.128:2323/collectData?lbip="+lbip +"&"+"username="+username +"&" +"password="+password, true);
      xhttp.send();


    }





    function createwebserver(){
	    let websrvip = document.getElementById("websrvip").value;
	    let wsusername =  document.getElementById("wsusername").value;
	    let wspassword = document.getElementById("wspassword").value;
	     var xhttp = new XMLHttpRequest();
	      xhttp.onreadystatechange = function() {
	        if (this.readyState == 4) {
        	 document.getElementById("wsoutput").innerHTML = this.responseText;
	        }
	      };
	      xhttp.open("GET", "http://192.168.126.128:2323/createws?websrvip="+websrvip +"&"+"wsusername="+wsusername +"&" +"wspassword="+wspassword, true);
	      xhttp.send();

       }
    


    </script>




</head>
<body>
  <div id="loadBalancer" name="loadBalancer">
 
     <form id="dataForm" action="/collectdata" method="POST">
         <label for="name">IP of LoadBalancer:</label>
         <input type="text" id="lbip" name="lbip" required>
 
         <label for="name">Username</label>
         <input type="text" id="username" name="username" required>
  
         <label >password</label>
     	<input type="password" id="password" name="password" required>
  

         <button type="button" onclick="createlb()">Submit</button>
     </form>
	
      <div id="lbdiv" name="lbdiv">this is  lbdiv</div>


   </div>





   <div id="webserver" name="webserver">
	 <form id="dataForm" action="/collectdata" method="POST">
         <label for="name">IP of WebServer:</label>
         <input type="text" id="websrvip" name="websrvip" required>

         <label for="name">Username</label>
         <input type="text" id="wsusername" name="wsusername" required>

         <label >password</label>
        <input type="password" id="wspassword" name="wspassword" required>


         <button type="button" onclick="createwebserver()">Submit</button>
     </form>

      <div id="wsoutput" name="wsoutput">out put for web servers  </div>

   </div>





</body>
</html>
 
